*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Arial, 'sans-serif';
}

.buttons{
    text-align:center;
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }
  
.row{
    position:relative;
    text-align:center;
}

.list li{
    list-style-type:none;
    box-shadow:3px 5px 5px;
    top:100px;
}

.list2 li{
    list-style-type:none;
    box-shadow:3px 5px 5px;
}

.list3 li{
    list-style-type:none;
    box-shadow:3px 5px 5px;
}

.list {
    list-style-type:none;
    box-shadow:3px 5px 5px;
    margin:auto;
    text-align:center;
    position:relative;
    width:200px;
    top:300px;
    right:50px;
    line-height: 5;
    display:inline-block;
    
}

.list2 {
    list-style-type:none;
    box-shadow:3px 5px 5px;
    display:inline-block;
    margin:auto;
    text-align:center;
    position:relative;
    width:100px;
    top:300px;
    line-height: 5;    
}

.list3 {
    list-style-type:none;
    box-shadow:3px 5px 5px;
    margin:auto;
    text-align:center;
    position:relative;
    width:200px;
    top:300px;
    left:50px;
    line-height: 5;
    display:inline-block;
}


h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    text-align:center;
    padding: 0 2rem;
    position: relative;
    top: 200px;
}