*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


div{
    margin-bottom:10px;
}
.buttons{
    text-align:center;
    margin:auto;
    position:relative;
}
 
.button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-image: linear-gradient(to right, #b7cffd 0%, #feecba  51%, #b7cffd  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
  }
  
  .button1:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  
  .button2 {
    background-image: linear-gradient(to right, #b7cffd 0%, #feecba  51%, #b7cffd  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
  }
  
  .button2:hover {
    background-position: right center; /* change the direction of the change here */
    color: #ffffff;
    text-decoration: none;
  }

  .button3 {
    background-image: linear-gradient(to right, #b7cffd 0%, #feecba  51%, #b7cffd  100%);
    padding: 15px 45px;
    text-align: center;
    position:relative;
    margin:auto;
    top:200px;
    left:680px;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    
  }
  
  .button3:hover {
    background-position: right center; /* change the direction of the change here */
    color: #ffffff;
    text-decoration: none;
  }
  
.edit{
    position:relative;
    margin:auto;
    left:33%;
}

.list li{
    list-style-type:none;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);
    top:100px;
    height:75px;
}


.list3 li{
    list-style-type:none;
    width:100px;
    height:75px;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);
}

.list {
    list-style-type:none;
    margin:auto;
    text-align:center;
    position:relative;
    width:200px;
    margin-bottom:5px;
    margin-right:5px;
    line-height: 5;
    display:inline-block;
    
}

.item{
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.price{
    width:50px;
    border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.list3 {
    list-style-type:none;
    margin:auto;
    text-align:center;
    position:relative;
    width:200px;
    margin-bottom:10px;
    line-height: 5;
    display:inline-block;
}


h1 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align:center;
    padding: 0 2rem;
    position: relative;
    margin-bottom:10px;
    margin-top:100px;

}
h4 {
    color: black;
    font-size: 3rem;
    font-weight: bold;
    text-align:center;
    padding: 0 2rem;
    position: relative;
    margin-bottom:10px;
    top:100px;

}


.gradient-text{
    background-color: red;
    color: black;
    font-size: 3.5rem;
    font-weight: bold;
    text-align:center;
    float:right;
    padding: 0 2rem;
    position: relative;
    top:28px;
    margin-right:635px;
  background-image: linear-gradient(0deg, #b7cffd 10%, #feecba 70%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  
}

h2 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align:center;
    padding: 0 2rem;
    position: relative;
    margin-bottom:10px;
}

.checklist{
    list-style-type:none;
    box-shadow:3px 3px 5px rgba(0, 0, 0, 0.4);
    margin:auto;    
    position:relative;
    width:200px;
    line-height: 5;
    margin-bottom:10px;
    
}

.checklist li{
    list-style-type:none;
    text-align:center;
}

.person1{
    background-color: red;
    background-image: linear-gradient(90deg, #b7cffd 10%, #feecba 70%);
    background-size: 100%;
    background-repeat: repeat;
    margin:auto;
    text-align:center;
    top:100px;
    position:relative;
    margin-top:20px;
    border-radius:10px;
    width:30%;
    max-height:200px;
    padding: 15px 5px;
}

h6{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:bold;
    margin-left:15px;
    margin-top:5px;
    position:relative;
    text-align:left;  
    font-size: 1rem;
}

.item_name{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top:10px;
    margin-left:15px;
    position:relative;
    text-align:left;
    font-size: 0.8rem;
}

.item_price{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -15px;
    margin-right:15px;
    position:relative;
    float:right;
    font-size: 0.8rem;
}

.total_price{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -40px;
    margin-right:15px;
    position:relative;
    float:right;
    font-size: 0.8rem;
}